.Activity {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Header {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header > img {
  max-width: 100px;
}

.Loading {
  height: 30px;
}